<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- Configurazione del Database POSTGRES -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/trenohibernate</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">root</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Impostazione per la creazione automatica delle tabelle -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- File di Mappatura -->
		<mapping resource="treno.hbm.xml" />
		<mapping resource="vagone.hbm.xml" />

		<!-- Configurazione del Database MYSQL -->
		<!-- <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> -->
		<!-- <property name="connection.url">jdbc:mysql://localhost:3306/trenohibernate</property> -->
		<!-- <property name="connection.username">root</property> -->
		<!-- <property name="connection.password">root</property> -->
		<!-- <property name="dialect">org.hibernate.dialect.MariaDBDialect</property> -->

		<!-- Configurazione per i log nella Console -->
		<!-- <property name="show_sql">true</property> -->
		<!-- <property name="hibernate.debug">true</property> -->
		<!-- <property name="show_sql">true</property> -->
		<!-- <property name="format_sql">true</property> -->

	</session-factory>

</hibernate-configuration>