

.main-content {
    padding: 60px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    max-width: 800px;
    border-radius: 8px;
}

.main-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2em;
    line-height: 1.5;
}

.mainTitle{
	font-weight: 800;
	font-size: 5rem;
}

.mainPara{
	font-size: 1.6rem;
}

.train-image {
	height: 200px;
	width: 100%;
	object-fit: cover;
}
/* SEARCH SEACTION */

#searchIcon:hover{
	cursor: pointer !important;
}

#criteriaForm{
	border: 1px solid black;
	border-radius: 10px;
	position: relative;
}


#closeIcon{
	position: absolute;
	right: 25px;
	font-size: 32px;
}

#closeIcon:hover{
	cursor: pointer !important;
}