.category-details {
	display: none;
}

.navbar-nav-details {
	display: flex;
	width: 100%;
}

.nav-link {
	cursor: pointer;
}

.navbar-nav-details li::marker {
    content: none;
}

.active{
	color: black;
}

.img-train{
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.add-vagone{
	padding: 51px 60px;
}