.train-image {
	height: 150px;
	width: 100%;
	object-fit: cover;
}

.profile-picture {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer !important;
}

.profile-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.3s ease-in-out;
}

.profile-picture:hover img {
	opacity: 0.3;
}

.edit-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 1.5em;
	transition: opacity 0.3s ease-in-out;
	user-select: none;
}

.profile-picture:hover .edit-overlay {
	opacity: 1;
}

#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  height: 50vh;
}

#non-sticky {
  overflow-y: auto;
}

.img-flag {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.scelta-vendita{
	font-size: 0.95rem;
}

.profile-u{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
/*	cursor: pointer !important; */
}

.profile-u img {
	width: 100%;
	height: 100%;
	object-fit: cover;
/*	transition: opacity 0.3s ease-in-out; */
}
